<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body, input, button, textarea {
    font: 400 16px "Roboto", sans-serif;
=======
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f8f8f8;
  color: #29292e;
}

body, input, button, textarea {
  font: 300 16px 'Roboto', sans-serif;
>>>>>>> 9c62c098d40220c2ada32825a8affbb0307421c9
}